<%- include('header') %>
  <div class="result">
    <% if(error) {  %>
      <%= error%>
      <%} else {%>  
    <%= price%> dolares na cotação <%= amount%> é igual: <%= converter %> 
    <% } %>
  </div> 
<%- include('footer') %>